body {
  background: skyblue;
  margin: 0;
}

.background {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  max-width: 425px;
  margin: auto;
  flex-direction: column;
  overflow: hidden;
}

.flag-pole {
  margin: auto;
  display: flex;
  flex: 1;
  margin-top: 32px;
  position: relative;
  right: -100%;
}

.pole {
  width: 8px;
  background: #b0b0b0;
}

.pole::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: #b0b0b0;
  z-index: 1;
  border-radius: 24px;
  left: -50%;
  transform: translate(-4px, -12px);
}

.flag-wrapper {
  position: relative;
  height: 100%;
  width: 300px;
}

.flag {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: calc(0% - 200px);
  z-index: 1;
}

.flag-image {
  width: 100%;
  transform: scaleX(-1);
  margin-left: 6px;
}

.button-wrapper {
  position: absolute;
  bottom: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translate(0px, 50%);
}

.play-button {
  width: 80%;
  border-radius: 32px;
  border: unset;
  outline: unset;
  padding: 16px;
  font-size: 16px;
  font-family: monospace;
}

.play-button:active {
  opacity: 0.5;
}

.characters {
  position: absolute;
  width: 100%;
  bottom: -50px;
  height: 400px;
  left: -100%;
}

.character-wrapper {
  position: absolute;
  width: 300px;
}

.character {
  width: 100%;
}

.chat-bubble {
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  width: 70%;
  margin: 16px;
  opacity: 0;
}

.typewriter {
  color: #000;
  font-family: monospace;
  margin: 0 auto;
  font-size: 16px;
}

@keyframes wave {
  0% {
    top: 0%;
  }
  50% {
    top: 5%;
  }
  100% {
    top: 0%;
  }
}